<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sinan Muştu blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sinan Muştu Blog</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Yeni ay, yeni hafta, yeni gönderi!</a></h2>
            <p>Bugün, Django ile yeniden oluşturduğum web sayfamın ilk gönderisini paylaşıyorum. 31 Mart'ta bir gözüm seçimlerde bir gözüm kodlarda, kurulumunun yarısını gerçekleştirdiğim sitemin, kalan kısmını da bugün tamamladım ve ilk gönderimi büyük bir heyecan ile paylaşıyorum. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
        </div>
    </body>
</html>